<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Task:</h3>

    <form class="form new-task-form">
      <div class="form-group">
        <label for="task-name">Task Name:</label>
        <input class="form-input" type="text" id="task-new-name" name="task-name" />
      </div>
      <div>
        <div class="form-group">
          <label for="task-name">Task Category:</label>
          <input class="form-input" type="text" id="task-new-category" name="task-name" />
        </div>
      </div>
      <div class="form-group">
        <label for="task priority">Task Priority:</label>
        {{!-- TODO Select dropdown --}}
        <input class="form-input" type="text" id="task-new-priority" name="task priority" />
      </div>
      <div>
        <div class="form-group">
          <label for="task priority">Task Due Day:</label>
          <input class="form-input" type="date" id="task-new-priority" name="task priority" />
        </div>
      </div>
      <div class="form-group" id="task-new-day">
        <label for="Monday">Monday</label>
        <input type="checkbox" class="form-input" id="Monday" name="task-desc"></input>
        <label for="Tuesday">Tuesday</label>
        <input type="checkbox" class="form-input" id="Tuesday" name="task-desc"></input>
        <label for="Wednesday">Wednesday</label>
        <input type="checkbox" class="form-input" id="Wednesday" name="task-desc"></input>
        <label for="Thursday">Thursday</label>
        <input type="checkbox" class="form-input" id="Thursday" name="task-desc"></input>
        <label for="Friday">Friday</label>
        <input type="checkbox" class="form-input" id="Friday" name="task-desc"></input>
        <label for="Saturday">Saturday</label>
        <input type="checkbox" class="form-input" id="Saturday" name="task-desc"></input>
        <label for="Sunday">Sunday</label>
        <input type="checkbox" class="form-input" id="Sunday" name="task-desc"></input>

      </div>
      <div class="form-group">
        <label for="task priority">Task Due Time:</label>
        <input class="form-input" type="time" id="task-new-time" name="task priority" />
      </div>
  </div>
  <!--  Future expansion
      <div class="form-group">
        <label for="task-assign">Task Assignment:</label>
        <textarea class="form-input" id="task-desc" name="task-desc"></textarea>
      </div>
-->
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Create Task</button>
  </div>
  </form>
</div>

{{#if tasks.length}}
<div class="col-md-6 project-list">
  <h3>Current Tasks:</h3>

  {{#each task as |tasks|}}
  <div class="row mb-2">
    <div class="col-md-8">
      <h4><a href="/homepage/{{task.id}}">{{tasks.task_name}}</a></h4>
    </div>
    <div class="p-2 content-center">
      <a href="/task-edit/{{id}}" class="btn btn-warning">Edit Task</a>
      <button id="delete" class="btn btn-sm btn-danger" data-id="{{tasks.id}}">Delete Task</button>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
</div>

<script src="/js/profile.js"></script>
<script src="/js/task-add.js"></script>
<script src="/js/task-edit.js"></script>
<script src="/js/task-delete.js"></script>