<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Task:</h3>

    <form class="form new-task-form">
      <div class="form-group">
        <label for="task-name">Task Name:</label>
        <input class="form-input" type="text" id="task-name" name="task-name" />
      </div>
      <div class="form-group">
        <label for="task priority">Task Priority:</label>
        <input class="form-input" type="number" id="task priority" name="task priority" />
      </div>
      <div class="form-group">
        <label for="task-desc">Task Description:</label>
        <textarea class="form-input" id="task-desc" name="task-desc"></textarea>
      </div>
      <!--  Future expansion
      <div class="form-group">
        <label for="task-assign">Task Assignment:</label>
        <textarea class="form-input" id="task-desc" name="task-desc"></textarea>
      </div>
-->
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if tasks.length}}
  <div class="col-md-6 project-list">
    <h3>Current Tasks:</h3>

    {{#each task as |tasks|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/task/{{task.id}}">{{tasks.task_name}}</a></h4>
      </div>
      <div class="p-2 content-center">
        <a href="/edittask/{{id}}" class="btn btn-warning">Edit Task</a>
        <button id="delete" class="btn btn-sm btn-danger" data-id="{{tasks.id}}">Delete Task</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/profile.js"></script>
<script src="/js/task-add.js"></script>
<script src="/js/task-edit.js"></script>
<script src="/js/task-delete.js"></script>