<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{User.name}}!</h2>
  </div>
</div>
<div class="container">
  <div class="text-center mb-5">
    <div class="flex justify-center mt-10"></div>
    <button class="btn btn-accent btn-wide modal" onclick="show_tasks_modal.showModal()">Today's Tasks</button>

    <button class="btn btn-accent btn-wide modal" onclick="add_task_modal.showModal()">Add Task To Do List</button>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Task:</h3>

    <form class="form new-task-form">
      <div class="form-group">
        <label for="task-name">Task Name:</label>
        <input class="form-input" type="text" id="task-new-name" name="task-name" />
      </div>
      <div>
        <div class="form-group">
          <p>Task Category:</p>
          <input type="radio" id="task-new-category" name="task_priority" value="Home">
          <label for="Home">Home</label><br>
          <input type="radio" id="task-new-category" name="task_priority" value="Auto">
          <label for="Auto">Auto</label><br>
          <input type="radio" id="task-new-category" name="task_priority" value="Lawn">
          <label for="Lawn">Lawn</label><br>
          <input type="radio" id="task-new-category" name="task_priority" value="Work">
          <label for="Work">Work</label><br>
          <input type="radio" id="task-new-category" name="task_priority" value="Kids">
          <label for="Kids">Kids</label><br>
          <input type="radio" id="task-new-category" name="task_priority" value="School">
          <label for="School">School</label><br>
        </div>
      </div>
      <div class="form-group">
        <p>Task Priority:</p>
        <input type="radio" id="task-new-priority" name="task_priority" value="low">
        <label for="low">Low</label><br>
        <input type="radio" id="task-new-priority" name="task_priority" value="medium">
        <label for="medium">Medium</label><br>
        <input type="radio" id="task-new-priority" name="task_priority" value="high">
        <label for="high">High</label>
      </div>
      <div>
        <div class="form-group">
          <label for="task priority">Task Due Day:</label>
          <input class="form-input" type="date" id="task-new-date" name="task priority" />
        </div>
      </div>
      <div class="form-group">
        <label for="task priority">Task Due Time:</label>
        <input class="form-input" type="time" id="task-new-time" name="task priority" />
      </div>
  </div>
  <!--  Future expansion
      <div class="form-group">
        <label for="task-assign">Task Assignment:</label>
        <textarea class="form-input" id="task-desc" name="task-desc"></textarea>
      </div>
-->
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Create Task</button>
  </div>
  </form>
</div>

{{#if tasks.length}}
<div class="col-md-6 project-list">
  <h3>Current Tasks:</h3>

  {{#each task as |tasks|}}
  <div class="row mb-2">
    <div class="col-md-8">
      <h4><a href="/homepage/{{task.id}}">{{tasks.task_name}}</a></h4>
    </div>
    <div class="p-2 content-center">
      <a href="/task-edit/{{id}}" class="btn btn-warning">Edit Task</a>
      <button id="delete" class="btn btn-sm btn-danger" data-id="{{tasks.id}}">Delete Task</button>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
</div>

{{!--
<script src="/js/profile.js"></script> --}}
<script src="/js/task-add.js"></script>
<script src="/js/task-edit.js"></script>
<script src="/js/task-delete.js"></script>