<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.name}}!</h2>
  </div>
</div>
<div class="container">
  <div class="text-center mb-5">
    <div class="flex justify-center mt-10"></div>
    <button class="btn btn-accent btn-wide modal" onclick="show_tasks_modal.showModal()">Today's Tasks</button>

    <button class="btn btn-accent btn-wide modal" onclick="add_task_modal.showModal()">Add Task To Do List</button>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">


    <form method="dialog" class="modal-box flex flex-col justify-center items-center" id="response-form">
    <h3>Create a New Task:</h3>
      <label for="task-name"></label>
      <input class="from-input w-full max-w-xs" type="text" name="task-name" id="task-name" placeholder="Task Name">

      <select class="select select-bordered w-full max-w-xs mt-2" name="category" id="category">
          <option value="" disabled selected>Select Category</option>
          <option value="home">Home</option>
          <option value="auto">Auto</option>
          <option value="lawn">Lawn</option>
          <option value="work">Work</option>
          <option value="kids">Kids</option>  
      </select>

      <select class="select select-bordered w-full max-w-xs mt-2" name="priority" id="priority">
          <option value="" disabled selected>Select Priority</option>
          <option value="low">Low</option>
          <option value="medium">Medium</option>  
          <option value="high">High</option>   
      </select>  

      <label for="task-new-date">Task Due Day:</label>
      <input class="form-input" type="date" id="task-new-date" name="task-new-date" />

      <label for="task-new-time">Task Due Time:</label>
      <input class="form-input" type="time" id="task-new-time" name="task-new-time" />
      <button class="btn btn-primary" type="submit" id="submit">Submit</button>       
      </div>
    </form>
</div>

{{#if user.tasks.length}}
<div class="col-md-6 project-list">
  <h3>Current Tasks:</h3>

  {{#each user.tasks as |task|}}
  <div class="row mb-2">
    <div class="col-md-8">
      <h4><a href="/homepage/{{task.id}}">{{task.task_name}}</a></h4>
    </div>
    <div class="p-2 content-center">
      <a href="/task-edit/{{id}}" class="btn btn-warning">Edit Task</a>
      <button id="delete" class="btn btn-sm btn-danger" data-id="{{task.id}}">Delete Task</button>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
</div>

{{!--
<script src="/js/profile.js"></script> --}}
<script src="/js/task-add.js"></script>
{{!-- <script src="/js/task-edit.js"></script>
<script src="/js/task-delete.js"></script> --}}