<!-- task modal to display the tasks for a given day -->

<!-- homepage button -->
<!-- added on lines 7-9 -->
<a href="#" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#myModal" onclick="getDataWithId(1)">
    <b>Today's Tasks</b>
</a>

<!-- Two choices -->

<!-- Choice 1 -->
<script id="data-template" type="x-handlebars-template">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

    <!-- TASK TO DO DAY -->
                    <form class="form-horizontal" id="form" enctype="multipart/form-data" action="upload.php" method="POST">
                      <div class="control-group">
                        <div class="controls">
                          <textarea class="input-xlarge" id="input01" name="text" value="{{task.todo_day}}"></textarea>
                        </div>
                      </div>
                    </form>
                </div>

                <div class="modal-body">

    <!-- TASK CATEGORY NAME -->
                    <form class="form-horizontal" id="form" enctype="multipart/form-data" action="upload.php" method="POST">
                      <div class="control-group">
                        <div class="controls">
                          <textarea class="input-xlarge" id="input01" name="text" value="{{category.category_name}}"></textarea>
                          <textarea class="input-xlarge" id="input01" name="text" value="{{task.task_name}}"></textarea>
                          <textarea class="input-xlarge" id="input01" name="text" value="{{task.task_time}}"></textarea>
                          <textarea class="input-xlarge" id="input01" name="text" value="{{task.priority_name}}"></textarea>
                          <textarea class="input-xlarge" id="input01" name="text" value="{{task.due_date}}"></textarea>

                        </div>
                      </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</script>


<!-- Choice 2 -->
<script id="data-template" type="x-handlebars-template">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

    <!-- TASK TO DO DAY -->
                    <form class="form-horizontal" id="form" enctype="multipart/form-data" action="upload.php" method="POST">
                      <div class="control-group">
                        <div class="controls">
                          <textarea class="input-xlarge" id="input01" name="text" value="{{task.todo_day}}"></textarea>
                        </div>
                      </div>
                    </form>
                </div>

                <div class="modal-body">

    <!-- TASK CATEGORY NAME -->
                    <form class="form-horizontal" id="form" enctype="multipart/form-data" action="upload.php" method="POST">
                      <div class="control-group">
                        <div class="controls">
                          <textarea class="input-xlarge" id="input01" name="text" value="{{category.category_name}}"></textarea>
                        </div>
                      </div>
                    </form>

    <!-- TASK NAME -->
                    <form class="form-horizontal" id="form" enctype="multipart/form-data" action="upload.php" method="POST">
                      <div class="control-group">
                        <div class="controls">
                          <textarea class="input-xlarge" id="input01" name="text" value="{{task.task_name}}"></textarea>
                        </div>
                      </div>
                    </form>

    <!-- TASK TIME -->
                    <form class="form-horizontal" id="form" enctype="multipart/form-data" action="upload.php" method="POST">
                      <div class="control-group">
                        <div class="controls">
                          <textarea class="input-xlarge" id="input01" name="text" value="{{task.task_time}}"></textarea>
                        </div>
                      </div>
                    </form>

    <!-- TASK PRIORITY -->
                    <form class="form-horizontal" id="form" enctype="multipart/form-data" action="upload.php" method="POST">
                      <div class="control-group">
                        <div class="controls">
                          <textarea class="input-xlarge" id="input01" name="text" value="{{task.priority_name}}"></textarea>
                        </div>
                      </div>
                    </form>

    <!-- TASK DUE DATE -->
                    <form class="form-horizontal" id="form" enctype="multipart/form-data" action="upload.php" method="POST">
                      <div class="control-group">
                        <div class="controls">
                          <textarea class="input-xlarge" id="input01" name="text" value="{{task.due_date}}"></textarea>
                        </div>
                      </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</script>



